<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>About page...</title>
</head>
<body>
{{>header}}
<div>Welcome to {{screamIt homeTitle }}</div>
<div>Nobody will be able to navigate except for vierwing</div>

{{> footer}}

</body>
</html>