<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>System Maintence Warning</title>
</head>
<body>
{{>header}}
<h2>System maintenance warning...</h2>
<div>Due to the System Maintence Cycle tonight, the system will not be available {{maintWindow}}</div>

{{>footer}}

</body>
</html>