<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Project page...</title>
</head>
<body>
{{>header}}
<di>Project about {{screamIt projectTitle }}</div>
<div>Nobody will be able to navigate except for vierwing</div>

{{> footer}}

</body>
</html>